## 1).A database is a structured collection of data that can be stored, retrieved, and managed efficiently. It is used to organize and manage data in a way that allows for easy access, retrieval, and manipulation of information.

SQL databases are relational databases that use Structured Query Language (SQL) for querying and managing data. They are designed to store structured data in tables with pre-defined schemas, with strong emphasis on data consistency and integrity. SQL databases are widely used for transactional applications, where data is frequently read and written.

NoSQL databases, on the other hand, are non-relational databases that do not use SQL for querying data. They are designed to handle unstructured and semi-structured data, and offer a flexible schema that allows for dynamic changes to the data structure.

## 2).DDL stands for Data Definition Language, which is used to define the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views.

CREATE is used to create a new table or other database objects. For example, the following SQL statement creates a new table called "customers":

CREATE TABLE customers (
id INT PRIMARY KEY,
name VARCHAR(50),
email VARCHAR(50)
);

DROP is used to delete an existing table or other database objects. For example, the following SQL statement drops the "customers" table:

DROP TABLE customers;

ALTER is used to modify an existing table or other database objects. For example, the following SQL statement adds a new column called "phone" to the "customers" table:

ALTER TABLE customers
ADD phone VARCHAR(20);

TRUNCATE is used to remove all data from a table. It is similar to DELETE, but it does not delete the table structure. For example, the following SQL statement removes all data from the "customers" table:

TRUNCATE TABLE customers;

## 3).DML stands for Data Manipulation Language, which is used to manipulate data stored in a database. DML statements are used to insert, update, and delete data from tables.

INSERT is used to add new rows to a table. For example, the following SQL statement adds a new row to the "customers" table:

INSERT INTO customers (id, name, email) VALUES (1, 'John Doe', 'john.doe@example.com');

UPDATE is used to modify existing rows in a table. For example, the following SQL statement updates the email address of the customer with the ID of 1:

UPDATE customers SET email = 'johndoe@example.com' WHERE id = 1;

DELETE is used to remove rows from a table. For example, the following SQL statement removes the customer with the ID of 1:

DELETE FROM customers WHERE id = 1;

## 4).DQL stands for Data Query Language, which is used to retrieve data from a database. DQL statements are used to query and retrieve data from tables.

SELECT is used to retrieve data from one or more tables. For example, the following SQL statement retrieves all rows and columns from the "customers" table:

SELECT * FROM customers;

You can also select specific columns by listing them after the SELECT keyword:

SELECT name, email FROM customers;

You can use WHERE clause to filter the results based on specific conditions:

SELECT name, email FROM customers WHERE id = 1