In [1]:
import pandas as pd

## 1)).

In [2]:
data = ['4','8','15','16','23','42']
series = pd.Series(data)

In [3]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: object

## 2)).

In [7]:
data = {'Name':['Alice','Bob','Claire'],
        'Age':['25','30','27'],
        'Gender':['Female','Male','Female']}
df = pd.DataFrame(data)
print(df)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

## 3))

In [8]:
list1 = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(list1)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## 4)).A Pandas DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a table in a relational database, or a spreadsheet in Excel. A Pandas Series, on the other hand, is a one-dimensional labeled array capable of holding any data type (integers, strings, floating-point numbers, Python objects, etc.).

In [9]:
data1 = {'Name':['Alice','Bob','Claire'],
        'Age':['25','30','27'],
        'Gender':['Female','Male','Female']}
df1 = pd.DataFrame(data1)
print(df1)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

5)).Some common functions that can be used to manipulate data in a Pandas DataFrame include:

head() and tail(): to view the first or last n rows of the DataFrame
describe(): to get a summary of the statistical information about the DataFrame
sort_values(): to sort the DataFrame by one or more columns
groupby(): to group the DataFrame by one or more columns and apply aggregate functions
pivot_table(): to create a pivot table from the DataFrame
drop(): to drop one or more columns or rows from the DataFrame
fillna(): to fill missing values in the DataFrame

## 6)).Among the given options (Series, DataFrame, Panel), only DataFrame is mutable in nature. This means that we can modify its contents, add or remove rows or columns, and perform other manipulations on the data.

## 7)).

In [11]:
names = pd.Series(['Alice', 'Bob', 'Charlie'])
age = pd.Series([25,30,35])
Gender = pd.Series(['female','male','female'])
df3 = pd.DataFrame({'Name':names,'Age':age,'Gender':Gender})
print(df3)

      Name  Age  Gender
0    Alice   25  female
1      Bob   30    male
2  Charlie   35  female