In [1]:
print("hello")

hello

In [2]:
a=10 #Dyanmic typing
a
a='c'
a

'c'

In [3]:
type(a)

str

In [4]:
int('123')

123

In [5]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [6]:
print("hello world")

hello world

In [7]:
print(123)

123

In [8]:
print('Hello World')

Hello World

In [9]:
age=20

print("my age is:",age)

my age is: 20

F is called as Fstring used for Formatting

In [10]:
print(f"my age is: {age}")

my age is: 20

In [11]:
# Format()
name = "Maheep"
age = 20
print("My Name is {} and age is {}".format(name,age))

My Name is Maheep and age is 20

In [12]:
# {firstage}=place holder
print("My Name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My Name is Maheep and age is 20

In [13]:
name = "Maheep Saluja"
age = 20
degree = "BCA"
print("My age is:{} and i have completed my degree of :{} and my name is {}".format(age,degree,name))
print(f"My age is:{age} and i have completed my degree of :{degree} and my name is {name}")

My age is:20 and i have completed my degree of :BCA and my name is Maheep Saluja
My age is:20 and i have completed my degree of :BCA and my name is Maheep Saluja

Control FLow

Decision making statements

In [14]:
# if Statements
age = 17
if age>=18:
    print("You are eligible to vote")
else:
    print("You are not eligilble to vote")

You are not eligilble to vote

In [15]:
name=input("Enter your name: ")

Enter your name:  maheep

In [16]:
name

'maheep'

In [17]:
age = int(input("ENter your age:"))

ENter your age: 22

In [18]:
type(age)

int

In [19]:
age = int(input("ENter your age"))
if age>=18 and age<=45:
    print("You are young blood")

ENter your age 22

You are young blood

In [20]:
# IF ELSE STATEMENTS
age = int(input("ENter your age"))
if age>=18 and age<=45:
    print("You are young blood")
else:
    print("Thank you we will let you know")

ENter your age 22

You are young blood

In [21]:
product_price=int(input("Enter the price of the product"))
if product_price>1000:
    print("You are eligible for the discount of RS 20%.\nThe price of the product is {}.".format(product_price*0.8))
else :
    print("You are eligible for the discount of RS 30%.\nThe price of the product is {}.".format(product_price*0.7))

Enter the price of the product 22

You are eligible for the discount of RS 30%.
The price of the product is 15.399999999999999.

In [22]:
product_price=int(input("Enter the price of the product"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations,you get a Goa trip")
    print("You are eligible for the discount of RS 20%.\nThe price of the product is {}.".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you get an addtional gift")
    print("You are eligible for the discount of RS 30%.\nThe price of the product is {}.".format(product_price*0.7))
elif product_price>=1000 and product_price<=2000:
    print("You are eligible for the discount of RS 40%.\nThe price of the product is {}.".format(product_price*0.6))
else : 
    print("Lets drink tea")
    print("Earn some money")

Enter the price of the product 22

Lets drink tea
Earn some money

In [24]:
val = input('ENter the number')
if(val<=999):print("Value is ")

ENter the number 22

TypeError: '<=' not supported between instances of 'str' and 'int'

In [25]:
joining_age = 25
while joining_age<=60:
    
    joining_age=joining_age+1
    print(joining_age)
else:
    print("Its time for retirment")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time for retirment

In [26]:
total_amount = 1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
    
else:
    print("Put more money")

1000
900
800
700
600
500
400
300
200
100
Put more money

In [27]:
lst=["maheep",1,2,3,4,"apple","orange"]

In [28]:
type(lst)

list

In [29]:
lst[4]

4

In [30]:
lst

['maheep', 1, 2, 3, 4, 'apple', 'orange']

In [31]:
for x in lst:
    print(x)

maheep
1
2
3
4
apple
orange

In [32]:
fruits=["mango","cherry","apple","papaya"]

In [35]:
for a  in fruits:
    print(a)
    if a=="cherry":
        print("the fruit is cherry")

mango
cherry
the fruit is cherry
apple
papaya

In [38]:
fruit='mango'
for x in fruit:
    print(x,end='')

mango

In [39]:
fruit[1]

'a'

### Nested Loops

In [49]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [50]:
fruits_list = ["mango","cherry","apple","papaya","banana"]

In [55]:
for i in fruits_list:
    if i=="apple":
        print("THe fruit is apple")
        continue
    print(i)

mango
cherry
THe fruit is apple
papaya
banana

In [56]:
for i in fruits_list:
    if i=="apple":
        print("THe fruit is apple")
        break
    print(i)

mango
cherry
THe fruit is apple

In [57]:
for i in fruits_list:
    if i=="apple":
        print("THe fruit is apple")
        pass
    print(i)

mango
cherry
THe fruit is apple
apple
papaya
banana